@import "reset.css";
@import "variable.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap");
@import "main/home/main_home.css";
@import "main/board/main_board.css";
@import "main/auth/auth_profile.css";
@import "main/auth/auth_profileInfo.css";
@import "main/auth/auth_orderList.css";
@import "main/product/product_detail.css";
@import "main/product/product_cart.css";
@import "main/product/product_pay.css";

* {
  box-sizing: border-box;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.index_container {
  display: grid;
  grid-template-rows: 100px 1fr 180px;
  min-width: 1200px;
  min-height: 100vh;
}

.index_shadow {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: -10000;
}

body {
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
}

button {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

dialog {
  border: 0;
  padding: 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

a:focus {
  outline: none;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  top: -30px;
  z-index: 10000;
}

.index_header {
  display: grid;
  width: 1200px;
  grid-template-rows: 30px 70px;
}

.index_hTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index_hTopLeft,
.index_hTopRight {
  display: flex;
  gap: 10px;
  align-items: center;
}

.index_kakao {
  display: flex;
  align-items: center;
  color: #3b2a2a;
  background-color: #fddc40;
  border-radius: 10px;
  padding: 3px 5px;
}

.index_logIn,
.index_nonLogIn {
  cursor: pointer;
  border: 1px solid var(--red);
  color: var(--red);
  border-radius: 5px;
  padding: 3px 5px;
  transition: all 0.3s ease-in-out;
}

.index_nonLogIn {
  border-color: black;
  color: black;
}

.index_logIn:hover {
  background-color: var(--red);
  color: white;
}

.index_nonLogIn:hover {
  background-color: black;
  color: white;
}

.index_hBottom {
  display: grid;
  grid-template-columns: 250px 800px 150px;
  align-items: center;
}

.index_topNav {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 70px;
  font-size: 20px;
  font-weight: 400;
}

.index_tnMenu {
  display: flex;
  border-bottom: 5px solid #fff;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.index_sideNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  font-size: 22px;
}

.index_dropMenu {
  top: 100px;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  border-top: 1px solid #ddd;
  background-color: white;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.index_dropWrapper {
  width: 1200px;
}

.index_dropMenu_menu {
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: 400px;
}

.index_dropMenu_txt {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

.index_dropMenu_txt a:hover {
  color: var(--red);
  font-weight: 400;
}

.index_dropMenu_img {
  border-radius: 10px;
  overflow: hidden;
}

main {
  background-color: white;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--red);
  color: #fff;
}

footer a {
  color: white;
}

.index_footer {
  display: grid;
  width: 1200px;
  grid-template-rows: 80px 100px;
}

.index_fTop {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #fff;
}

.index_fBottom {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

section {
  width: 1200px;
  padding: 100px 0;
}
