@import "reset.css";
@import "variable.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap");
@import "main/home/main_home.css";

.index_wrapper {
  width: 1200px;
  min-width: 1200px;
}

.index_shadow {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: -100;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: sticky;
  top: -30px;
  z-index: 100;
}

header a {
  color: black;
}

main {
  background-color: white;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--red);
  color: #fff;
}

footer a {
  color: white;
}

section {
  padding: 100px 0;
}

.index_hWrapper {
  display: grid;
  grid-template-rows: 30px 70px;
}

.index_hTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index_hBottom {
  display: grid;
  grid-template-columns: 250px 750px 1fr;
  align-items: center;
}

.index_topNav {
  display: grid;
  grid-template-columns: repeat(3, 250px);
}

.index_tnMenu {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index_sideNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.index_dropMenu {
  top: 100px;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.index_dropWrapper {
  display: flex;
  justify-content: center;
}

.index_dropMenu_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100px;
}

.index_dropMenu_menu a {
  color: white;
}

.index_fWrapper {
  display: grid;
  grid-template-rows: 80px 100px;
}

.index_fTop {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #fff;
}

.index_fBottom {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
