@charset "UTF-8";

.order_modalcontent {
	width: 70%;
}

.modal_table {
	background-color: white;
	width: 100%;
	height: 100%;
}
.left_td{
	background-color: black;
	color: white;
	min-width: 80px;
}

.left_td_long{
	background-color: black;
	color: white;
}
.left_td_long > label{
	margin-left: 10px;
	margin-right: 10px;
}

.left_td_tire{
	background-color: black;
	color: white;
}

.modal_table td {
	text-align: center;
	border: 1px solid black;
	height: 45px;
	width: 100px;
}

.order_header {
	display: flex;
	background-color: #fffa65;
	align-items: center;
	justify-content: center;
	height: 70px;
	min-width: 800px;
	font-size: 15pt;
	font-weight: 600;
}

.modalBtn {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
	height: 70px;
}

.modalBtn1{
	color: white;
	background-color: black;
}
.modalBtn2{
	color: black;
}

.modal-wrapper {
	width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modalBtn1{
	width: 90px;
	height: 35px;
	margin: 5px;
	font-size:large;
}

.modalBtn2{
	width: 90px;
	height: 35px;
	margin: 10px;
	font-size:large;
	background-color: white;
}

.modalBtn2{
	width: 90px;
	height: 35px;
	margin: 10px;
	font-size:large;
	background-color: white;
}

.modal-del{
	color: white;
    border: 2px solid red;
    background-color: red;
}
.d-input{
	width: 350px;
	height: 30px;
}
.d-input:focus{
	outline: none;
}
th{
	border: 1px solid black;
}
