@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none
}

a:visited {
	color: white;
}

.no-drag{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border-radius: 3px;
}

.DashBoard {
	width: 100%;
}

#order_modal {
	position: absolute;
    width: -webkit-fill-available;
    height: 100vh;
}

.order_content {
	width: 100%;
	min-width: 1200px;
	padding-top: 10px;
	border-collapse: collapse;
}

.order_content td {
	padding: 20px;
	text-align: center;
	border: 1px solid black;
}

.th_head {
	font-size: 15pt;
	padding: 20px;
	background-color: black;
    color: white;
    border: 1px solid white;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.order_form {
	width: 100%;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.order_form>div {
	width: 100%;
	height: 50px;
	display: flex;
}

.input_box1>div {
	width: 80px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
}

.input_box2>div {
	width: 80px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
}

.input_box3>div {
	width: 90px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
}

.input_box4>div {
	width: 80px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
}

.input_box1>input {
	width: 150px;
    height: 30px;
    font-size: 15pt;
    margin-left: 10px;
}
.input_box2>input {
	width: 130px;
	height: 30px;
	font-size: 15pt;
	margin-left: 10px;
}
.input_box3>input {
	width: 150px;
	height: 30px;
	font-size: 15pt;
	margin-left: 10px;
}
.input_box4>input {
	width: 200px;
	height: 30px;
	font-size: 15pt;
	margin-left: 10px;
}

.input_box1>input:focus,
.input_box2>input:focus,
.input_box3>input:focus,
.input_box4>input:focus {
	outline: none;
}

.input_box1 {
	display: flex;
	align-items: center;
	margin-left: 20px;
	width: 900px;
	margin-top: 10px;
}
.input_box2 {
	display: flex;
	align-items: center;
	margin-left: 20px;
	margin-top: 10px;
}
.input_box3 {
	display: flex;
	align-items: center;
	margin-left: 20px;
	margin-top: 10px;
}

.input_box4 {
	display: flex;
	align-items: center;
	margin-left: 20px;
	margin-top: 10px;
}

.button_box {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	margin-top: 10px;
}

.orderBtn{
	border-radius: 4px;
	width: 70px;
	height: 40px;
	background-color: rgb(50, 60, 70);
	color: white;
	font-weight: bold;
	font-size: 15px;
	border: none;
}

.orderBtn:hover{
	color: rgb(50, 60, 70);
	background-color: white;
	border: 1px solid black;
}

.tdBtn>button {
	width: 80px;
	height: 30px;
	border: 1px solid black;
}

#updBtn{
	color: white;
	background-color: black;
}

#delBtn{
	color: black;
}


#qna_modal {
	position: absolute;
    width: -webkit-fill-available;
    height: 100vh;
}

#paging-box{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    position: relative;
    top: 550px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#paging-box a{
	padding: 7px 7px;
    margin: 5px;
    background-color: #E4EAEC;
    border-radius: 3px;
}