@charset "UTF-8";

.order_modalcontent {
	width: 70%;
	padding-top: 30px;
}

.modal_table {
	background-color: white;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.left_td_long{
	background-color: #333333;
	color: white;
	border: 1px solid white;
}
.left_td_long > label{
	margin-left: 10px;
	margin-right: 10px;
}

.left_td_tire{
	background-color: #333333;
	color: white;
}

#product-table{
	border-collapse: collapse;
}

.modal_table td {
	text-align: center;
	height: 35px;
	border: 1px solid;
}

.modal_content_td{
	width: 35%;
	border: 1px solid black;
}

.left_td{
	background-color: #333333;
	border: 1px solid white;
	color: white;
	width: 15%;
}

.modal_table tr {
	width: 100%;
}

.tire_th{
	background-color: black;
	color: white;
	border: 1px solid white;
	padding: 5px;
}

.tire_th:nth-child(1) {
	width: 10%
}
.tire_th:nth-child(2) {
	width: 20%
}
.tire_th:nth-child(3) {
	width: 40%
}
.tire_th:nth-child(4) {
	width: 20%
}
.tire_th:nth-child(5) {
	width: 10%
}

.order_header {
	display: flex;
	background-color: #CCCCCC;
	align-items: center;
	justify-content: center;
	height: 70px;
	min-width: 800px;
	font-size: 15pt;
	font-weight: 600;
}

.modalBtn {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
	height: 70px;
}

.modalBtn1{
	color: white;
	background-color: black;
}
.modalBtn2{
	color: black;
}

.modal-wrapper {
	width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modalBtn1{
	width: 90px;
	height: 35px;
	margin: 5px;
	font-size:large;
}

.modalBtn2{
	width: 90px;
	height: 35px;
	margin: 10px;
	font-size:large;
	background-color: white;
}

.modalBtn2{
	width: 90px;
	height: 35px;
	margin: 10px;
	font-size:large;
	background-color: white;
}

.modal-del{
	color: white;
    border: 2px solid red;
    background-color: red;
}
.d-input{
	width: 350px;
	height: 30px;
}
.d-input:focus{
	outline: none;
}
th{
	border: 1px solid black;
}
