<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tireshoppingmall.home.admin.board.AdminBoardMapper">

	<!-- Notice mapper  -->
	
	<!-- Notice 전체 조회  -->
	<select id="getAllNotice" resultType="com.tireshoppingmall.home.admin.board.NoticeDTO">
		select * from notice order by n_no
	</select>

	<!-- Notice 검색 전체 조회  -->
	<select id="searchAllNotice" parameterType="com.tireshoppingmall.home.admin.board.SearchDTO" resultType="com.tireshoppingmall.home.admin.board.NoticeDTO">
		select * from notice where n_title like '%'|| #{titleInput} ||'%' and n_sortation like '%'||#{selectOption}||'%' order by n_no
	</select>
	
	<!-- Notice 등록  -->
	<insert id="regNotice" parameterType="com.tireshoppingmall.home.admin.board.NoticeDTO">
		insert into notice values(notice_seq.nextval, #{selectOption}, #{n_title}, #{n_txt}, sysdate)
	</insert>

	<!-- Notice 업데이트 -->
	<update id="updateNotice">
		update notice set n_sortation = #{selectOption}, n_title = #{n_title}, n_txt = #{n_txt}, n_date = sysdate where n_no = #{n_no}
	</update>
	
	<!-- Notice 삭제 -->
	<delete id="deleteNotice">
		delete notice where n_no = #{n_no}
	</delete>
	
	<!-- Notice 페이징 (notice 갯수 카운트) -->
	<select id="getNoticeCount" resultType="int">
		select count(*)
		from notice
		where n_title like '%'||#{titleInput}||'%'
	</select>
	
	<!-- Notice 페이징-->
	<select id="getNotice" resultType="com.tireshoppingmall.home.admin.board.NoticeDTO">
		select * from 
			(select rownum as rn, n_no, n_sortation, n_title, n_txt, n_date from(
			select * from notice where n_title like '%'||#{titleInput}||'%'
			<choose>
				<when test="selectOption == 1">
					and n_sortation = '안내' 
				</when>
				<when test="selectOption == 2">
					and n_sortation = '매장'
				</when>
				<when test="selectOption == 3">
					and n_sortation = '프로모션'
				</when>
			</choose>
			order by n_no desc)
			)where rn &gt;= #{start} and rn &lt;= #{end}
	</select>
	
	<!-- FAQ mapper  -->
	
	<select id="getAllFaq" resultType="com.tireshoppingmall.home.admin.board.FaqDTO">
		select * from faq order by f_no
	</select>
	
	<!-- FAQ 검색 전체 조회  -->
	<select id="searchAllFaq" parameterType="com.tireshoppingmall.home.admin.board.SearchDTO" resultType="com.tireshoppingmall.home.admin.board.FaqDTO">
		select * from faq where f_title like '%'|| #{titleInput} ||'%' and f_sortation like '%'||#{selectOption}||'%' order by f_no
	</select>
	
	<!-- FAQ 등록  -->
	<insert id="regFaq" parameterType="com.tireshoppingmall.home.admin.board.FaqDTO">
		insert into faq values(faq_seq.nextval, #{selectOption}, #{f_title}, #{f_txt}, sysdate)
	</insert>
	
	<!-- FAQ 업데이트 -->
	<update id="updateFaq" parameterType="com.tireshoppingmall.home.admin.board.FaqDTO">
		update faq set f_sortation = #{selectOption}, f_title = #{f_title}, f_txt = #{f_txt}, f_date = sysdate where f_no = #{f_no}
	</update>
	
	<!-- FAQ 삭제 -->
	<delete id="deleteFaq">
		delete faq where f_no = #{f_no}
	</delete>
	
	<!-- FAQ 페이징 (faq 갯수 카운트) -->
	<select id="getFaqCount" resultType="int">
		select count(*)
		from faq
		where f_title like '%'||#{titleInput}||'%'
	</select>
	
	<!-- FAQ 페이징-->
	<select id="getFaq" resultType="com.tireshoppingmall.home.admin.board.FaqDTO">
		select * from 
			(select rownum as rn, f_no, f_sortation, f_title, f_txt, f_date from(
			select * from faq where f_title like '%'||#{titleInput}||'%'
			<choose>
				<when test="selectOption == 1">
					and f_sortation = '주문/배송' 
				</when>
				<when test="selectOption == 2">
					and f_sortation = '상품관련'
				</when>
				<when test="selectOption == 3">
					and f_sortation = '장착관련'
				</when>
				<when test="selectOption == 4">
					and f_sortation = '반품/교환/취소'
				</when>
				<when test="selectOption == 5">
					and f_sortation = '회원'
				</when>
			</choose>
			order by f_no desc)
			)where rn &gt;= #{start} and rn &lt;= #{end}
	</select>
	
	<!-- QNA mapper  -->
	
	<!-- QNA 전체 조회 -->
	<select id="getAllQna" resultType="com.tireshoppingmall.home.admin.board.QnaDTO">
		select q_no, q_title, q_txt, q_date, q_id, q_reply_has, a_id, a_name
		from qna, auth where q_id = a_id order by q_no
	</select>

	<!-- QNA 부분 검색-->
	<select id="searchQnA" parameterType="com.tireshoppingmall.home.admin.board.QnaSearchDTO" resultType="com.tireshoppingmall.home.admin.board.QnaDTO">
			select q.*, a.a_id, a.a_name
			from qna q, auth a where q.q_id = a.a_id and
			<if test="nameInput != ''">
            a_name = #{nameInput} and
			</if>
			<if test="idInput != ''">
            a_id = #{idInput} and
            </if>
            q_title like '%'||#{titleInput}||'%'
            order by q_no
	</select>
	
	<!-- QNA 답변-->
	<insert id="insertQnAReply" parameterType="com.tireshoppingmall.home.admin.board.QnaReplyDTO">
		insert into qna_reply values(qna_reply_seq.nextval, #{q_reply_txt},sysdate,#{q_reply_board_no})
	</insert>
	
	<!-- QNA 답변 완료 처리-->
	<update id="updateQna">
		update qna
		set q_reply_has = 1
		where q_no = #{q_reply_board_no}
	</update>
	
	<!-- QNA 모달에 값 가져오기-->
	<select id="getReply" resultType="com.tireshoppingmall.home.admin.board.QnaReplyDTO">
		select * from qna_reply where q_reply_board_no = #{q_reply_board_no}
	</select>
	
</mapper>