<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.tireshoppingmall.home.admin.auth.AdminAuthMapper">

	<delete id="authDelete">
		delete auth_user where u_id = #{u_id}
	</delete>


	<update id="authUpdate">
		update auth_userinfo
		set
		<choose>
			<when test="i_grade==1">
				i_grade = 1
			</when>
			<when test="i_grade==2">
				i_grade = 2
			</when>
			<when test="i_grade==3">
				i_grade = 3
			</when>
		</choose>
		where i_no = #{i_id}
	</update>

	<select id="getAuthCount" resultType="int">
		select count(*)
		from auth_user u , auth_userinfo ui
		where u.u_no =
		ui.i_no and
		i_name like '%'||#{i_name}||'%'
		<if test="i_grade != 0">
			and i_grade like '%'||#{i_grade}||'%'
		</if>
	</select>

	<select id="getAuth"
		resultType="com.tireshoppingmall.home.admin.auth.AuthDTO">


		select * from (
		select rownum as rn,u_no,
		u_id,u_logintype,i_no,i_name,i_phonenum,i_newdate,i_grade,i_email,
		mc_number,mc_id,mc_model,mc_brand,mc_year
		from (
		select * from auth_user
		u
		inner join auth_userinfo ui on u.u_no = ui.i_no
		left OUTER JOIN my_car
		mc on u.u_no = mc.mc_id
		where
		<if test="u_id != ''">
			u.u_id = #{u_id} and
		</if>
		ui.i_name like '%'||#{i_name}||'%'
		<if test="mc_number != ''">
		and mc.mc_number = #{mc_number}
		</if>
		<if test="i_grade != 0">
			and ui.i_grade = #{i_grade}
		</if>
		order by ui.i_newdate desc)
		)where rn &gt;= #{start} and rn &lt;=
		#{end}

	</select>

</mapper>