<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tireshoppingmall.home.admin.auth.AdminAuthMapper">

	<select id="getAllAuth" resultType="com.tireshoppingmall.home.admin.auth.AuthDTO">
		select * from auth
	</select>
	
</mapper>