<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tireshoppingmall.home.board.BoardMapper">
	<select id="getAskCount" resultType="java.lang.Integer">
		select count(*)
        from qna, auth_user
        where q_id = #{u_id}	<!-- 주의 -->
	</select>
	<select id="readAskAll" resultType="com.tireshoppingmall.home.board.AskDTO">
		select *
        from (
			select	rownum as rownumber,
					q_no,
					q_title,
					q_date
			from (
				select *
				from qna, auth_user
				where q_id = #{u_id}	<!-- 주의 -->
				order by q_date desc
			)
        )
        where rownumber &gt;= #{begin} and rownumber &lt;= #{last}
	</select>
	
	<select id="readAskOne" resultType="com.tireshoppingmall.home.board.AskDTO">
		select *
		from qna
		where q_no = #{q_no}
	</select>
	<select id="readAskReply" resultType="com.tireshoppingmall.home.board.AskReplyDTO">
	 	select *
	 	from qna_reply
	 	where q_reply_board_no = #{q_no}
	</select>
	
	<insert id="createAsk">
		insert
		into qna
		values(
			qna_seq.nextval,
			#{q_title},
			#{q_txt},
			sysdate,
			#{q_id},
			default
		)
	</insert>
	
	<update id="updateAsk">
		update
		qna
		set	q_title = #{q_title},
			q_txt = #{q_txt}
		where q_no = #{q_no}
	</update>
	
	<delete id="deleteAsk">
		delete
		qna
		where q_no = #{q_no}
	</delete>
	
	
	
	<select id="readEventAll" resultType="com.tireshoppingmall.home.board.EventDTO">
		select * from event
	</select>
</mapper>