<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tireshoppingmall.home.board.BoardMapper">
	<select id="getAskCount" resultType="java.lang.Integer">
		select count(*)
        from ask, ask_account
        where a_owner_fk = aa_id
        and a_text like '%'||#{search}||'%'
	</select>
	<select id="getAsk" resultType="com.tireshoppingmall.home.board.AskDTO">
		select *
        from (
			select	rownum as rn,
					a_number,
					a_owner_fk,
					a_sortation,
					a_title,
					a_text,
					a_photo,
					a_date,
					a_status
			from (
				select *
				from ask, ask_account
				where a_owner = aa_id
				and a_txt like '%'||#{search}||'%'
				order by s_date desc
			)
        )
        where rn &gt;= #{start} and rn &lt;= #{end}
	</select>
	<select id="getAskReply" parameterType="com.tireshoppingmall.home.board.AskDTO" resultType="com.tireshoppingmall.home.board.AskReplyDTO">
	 	select *
	 	from ask_reply
	 	where ar_number_fk = #{a_number}
	</select>
</mapper>