<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tireshoppingmall.home.board.BoardMapper">
	<select id="getFaqCount" resultType="java.lang.Integer">
		select count(*)
		from faq
		<choose>
			<when test="f_sortation != null">
				where f_sortation like '%'||#{f_sortation}||'%'
			</when>
			<otherwise>
				<if test="faqSearchSelection == 1">
					where	f_title like '%'||#{faqSearch}||'%' or
							f_txt like '%'||#{faqSearch}||'%'
				</if>
				<if test="faqSearchSelection == 2">
					where	f_title like '%'||#{faqSearch}||'%'
				</if>
				<if test="faqSearchSelection == 3">
					where	f_txt like '%'||#{faqSearch}||'%'
				</if>
			</otherwise>
		</choose>
	</select>
	<select id="readFaq" resultType="com.tireshoppingmall.home.board.BoardFaqDTO">
		select *
        from (
			select	rownum as rownumber,
					f_title,
					f_txt
			from (
				select *
				from faq
				<choose>
					<when test="f_sortation != null">
						where f_sortation like '%'||#{f_sortation}||'%'
						<!-- 
						 order by f_title;
						 -->
					</when>
					<otherwise>
						<if test="faqSearchSelection == 1">
							where	f_title like '%'||#{faqSearch}||'%' or
									f_txt like '%'||#{faqSearch}||'%'
						</if>
						<if test="faqSearchSelection == 2">
							where	f_title like '%'||#{faqSearch}||'%'
						</if>
						<if test="faqSearchSelection == 3">
							where	f_txt like '%'||#{faqSearch}||'%'
						</if>
						<!-- 
						order by f_sortation
						 -->
					</otherwise>
				</choose>
			)
        )
        where rownumber &gt;= #{begin} and rownumber &lt;= #{last}
	</select>



	<select id="getQnaCount" resultType="java.lang.Integer">
		select count(*)
        from qna, auth_user
        where	u_id = #{u_id} and
        		q_id = #{u_id}
	</select>
	<select id="readQna" resultType="com.tireshoppingmall.home.board.BoardQnaDTO">
		select *
        from (
			select	rownum as rownumber,
					q_no,
					q_title,
					q_date
			from (
				select *
				from qna, auth_user
				where	u_id = #{u_id} and
						q_id = #{u_id}
				order by q_date desc
			)
        )
        where rownumber &gt;= #{begin} and rownumber &lt;= #{last}
	</select>
	
	<select id="readdetailQna" resultType="com.tireshoppingmall.home.board.BoardQnaDTO">
		select *
		from qna
		where q_no = #{q_no}
	</select>
	<select id="readQnaReply" resultType="com.tireshoppingmall.home.board.BoardQnaReplyDTO">
	 	select *
	 	from qna_reply
	 	where q_reply_board_no = #{q_no}
	</select>
	
	<insert id="createQna">
		insert
		into qna
		values(
			qna_seq.nextval,
			#{q_title},
			#{q_txt},
			sysdate,
			#{q_id},
			default
		)
	</insert>
	
	<update id="updateQna">
		update
		qna
		set	q_title = #{q_title},
			q_txt = #{q_txt}
		where q_no = #{q_no}
	</update>
	
	<delete id="deleteQna">
		delete
		qna
		where q_no = #{q_no}
	</delete>
	
	
	
	<select id="readEvent" resultType="com.tireshoppingmall.home.board.BoardEventDTO">
		select * from event
	</select>
</mapper>