<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tireshoppingmall.home.product.ProductMapper">
	<select id="getProductGroupCount" resultType="int">
		select count(*)
        from tire_group, tire_brand
        where tg_brand like '%'||#{search}||'%'
       		<if test="search2 != ''">
        		and tg_${search2} = 1
       		</if>
        and tg_brand = tb_name
        order by tb_order, tg_id
	</select>
	<select id="getProductGroup" resultType="com.tireshoppingmall.home.product.ProductGroupDTO">
		select *
        from (
        	select rownum as rn, tg_id, tg_brand, tg_name, tg_img, tg_text, tg_dcrate,  tg_print, tg_sedan, tg_suv
                from (
                    select * from tire_group, tire_brand
                where tg_brand like '%'||#{search}||'%'
	        		<if test="search2 != ''">
		        		and tg_${search2} = 1
	        		</if>
                and tg_brand = tb_name
        		order by tb_order, tg_id
            )
        )
        where rn &gt;= #{start} and rn &lt;= #{end}	
	</select>
	
	<!-- 인치 최소값 -->
	<select id="getMinInchOfGroup" resultType="String">
		select min(ti_inch) from tire_item
		where ti_tg_id = #{tg_id}
	</select>
	
	<!-- 인치 최대값 -->
	<select id="getMaxInchOfGroup" resultType="String">
		select max(ti_inch) from tire_item
		where ti_tg_id = #{tg_id}
	</select>
	
	<!-- 가격 최소값  // 가격은 임시로 ti_pricefac(공장가격)으로 함 -->
	<select id="getMinPriceOfGroup" resultType="String">
		select min(ti_pricefac) from tire_item
		where ti_tg_id = #{tg_id}
	</select>
	
	<!-- 가격 최대값  // 가격은 임시로 ti_pricefac(공장가격)으로 함 -->
	<select id="getMaxPriceOfGroup" resultType="String">
		select max(ti_pricefac) from tire_item
		where ti_tg_id = #{tg_id}
	</select>
	
	<select id="getProductGroupJson" resultType="com.tireshoppingmall.home.product.ProductGroupDTO">
		select *
        from tire_group
        where tg_sedan like '%'||#{search}||'%' and tg_brand like '%'||#{searchBrand}||'%'
	</select>
	
	<!-- 타이어 그룹을 아이디 별로 가져옴 -->
	<select id="getProduct" resultType="com.tireshoppingmall.home.product.ProductDTO">
		select *
		from tire_group
		where tg_id = #{tg_id}
	</select>
	
	<!-- 타이어 그룹 아이디로 타이어 아이템을 가져옴  -->
	<select id="getProductSizes" resultType="com.tireshoppingmall.home.product.ProductDTO">
		select *
		from tire_group, tire_item
		where tg_id = ti_tg_id
		and tg_id = #{tg_id}
		order by ti_inch, ti_width, ti_ratio
	</select>
</mapper>