<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tireshoppingmall.home.product.ProductMapper">
	<select id="getProductGroupCount" resultType="int">
		select count(*)
        from tire_group
        where tg_name like '%'||#{search}||'%' and tg_brand like '%'||#{searchBrand}||'%'
	</select>
	<select id="getProductGroup" resultType="com.tireshoppingmall.home.product.ProductGroupDTO">
		select *
        from (
        	select rownum as rn, tg_id, tg_brand, tg_name, tg_img, tg_text, tg_dcrate,  tg_print, tg_sedan, tg_suv
                from (
                    select * from tire_group
                where tg_name like '%'||#{search}||'%' and tg_brand like '%'||#{searchBrand}||'%'
            )
        )
        where rn &gt;= #{start} and rn &lt;= #{end}	
	</select>


</mapper>