<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tireshoppingmall.home.search.SearchMapper">

<select id="getTiresJSON" resultType="com.tireshoppingmall.home.search.Tire">
	select tg_brand, tg_img, tg_name, ti_width, ti_ratio, ti_inch, ti_pricefac from tire_group, tire_item where
	ti_width = #{ti_width} and ti_ratio = #{ti_ratio} and ti_inch=#{ti_inch}
	
	
	
</select>

</mapper>