.board_qna_home {
	display: grid;
	grid-template-columns: 400px 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:	"qh_home qh_qna qh_kakao"
							"qh_faq qh_qna qh_kakao";
	
	height: 270px;
    background-color: rgb(246, 248, 251);
    padding: 50px;
    align-items: center;
    border-radius: 16px;
}
.board_qna_home > div:nth-child(1) {
	grid-area: qh_home;
	
	padding-left: 15px;
	
	font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: rgb(40, 42, 46);
}
.board_qna_home > div:nth-child(2) {
	grid-area: qh_faq;
	
	padding-left: 15px;
	
	display: flex;
}
.board_qna_home > div:nth-child(2) > div {
	display: inline-flex;
    align-items: center;
    border-radius: 100px;
    gap: 4px;
    white-space: nowrap;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    background: rgb(40, 42, 46);
    color: rgb(255, 255, 255);
    margin-right: 5px;
}
.board_qna_home > div:nth-child(2) > div:hover {
	display: inline-flex;
    align-items: center;
    border-radius: 100px;
    gap: 4px;
    white-space: nowrap;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    background: #ab1e21;
    color: rgb(255, 255, 255);
    margin-right: 5px;
}
.board_qna_home > div:nth-child(3) {
	grid-area: qh_qna;
	
	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	/*
	*/
	margin-left: 35px;
	
	width: 160px;
    height: 160px;
    background: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 16px;
}
.board_qna_home > div:nth-child(3) > a:nth-child(2) {
	margin-top: 10px;
	
	font-size: 19px;
    font-weight: 500;
}
.board_qna_home > div:nth-child(3) > a > img {
	width: 100px;
}
.board_qna_home > div:nth-child(4) {
	grid-area: qh_kakao;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	/*
	*/
	margin-left: 35px;
	
	float: right;
	width: 160px;
    height: 160px;
    background: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 16px;
}
.board_qna_home > div:nth-child(4) > a {
	margin-top: 10px;
	
	font-size: 19px;
    font-weight: 500;
}
.board_qna_home > div:nth-child(4) > img {
	width: 100px;
	cursor: pointer;
}
