.board_qna_r_column {
	display: grid;
	grid-template-columns: 80px 1fr 120px 120px;
	grid-template-rows: 51px;
	grid-template-areas: "rac_num rac_title rac_date rac_status";
	
	background-color: #f5f5f5;
	
	text-align: center;
	font-weight: 500;
	
	border-top: 1px solid #000;
}
.board_qna_r_column > div {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	
	padding: 15px;
}
.board_qna_r_column > div:nth-child(1) {
	grid-area: rac_num;
}
.board_qna_r_column > div:nth-child(2) {
	grid-area: rac_title;
}
.board_qna_r_column > div:nth-child(3) {
	grid-area: rac_date;
}
.board_qna_r_column > div:nth-child(4) {
	grid-area: rac_status;
	border-right:1px solid #ddd;
}



.board_qna_r_none {
	width: 950px;
	height: 255px;
	
	background-color: #fff;
	
	text-align: center;
	
	border-right:1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.board_qna_r_none > div {
	padding: 120px;
}



.board_qna_r_list {
	display: grid;
	grid-template-columns: 80px 1fr 120px 120px;
	grid-template-rows: 51px;
	grid-template-areas: "ral_num ral_title ral_date ral_status";
	
	background-color: #fff;
	
	text-align: center;
}
.board_qna_r_list div {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	
	padding: 15px;
}
.board_qna_r_list div:nth-child(1) {
	grid-area: ral_num;
}
.board_qna_r_list div:nth-child(2) {
	grid-area: ral_title;
	
	text-align: left;
	font-weight: 400;
}
.board_qna_r_list div:nth-child(2) > a {
	width: 100%;
}
.board_qna_r_list div:nth-child(2) > a:hover {
	width: 100%;
	text-decoration : underline;
}
.board_qna_r_list div:nth-child(3) {
	grid-area: ral_date;
}
.board_qna_r_list div:nth-child(4) {
	grid-area: ral_status;
	border-right:1px solid #ddd;
}



.board_qna_r_buttons {
	display: flex;
	
	width: 950px;
	height: 51px;
	
	margin-top: 20px;
	margin-bottom: 120px;
	
	justify-content: space-between
}



.board_qna_r_pagingButtons {
	display: flex;
}
.board_qna_r_pagingButtons > div {
	width: 28px;
	height: 28px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	border-radius: 2px;
}
.board_qna_r_pagingButtons_selected {
	background-color: #ab1e21;
	color: #fff;
	font-weight: 500;
	padding-bottom: 1px;
}