@import "main_board_home.css";
@import "main_board_faq.css";
@import "main_board_qna.css";
@import "main_board_qna_r.css";
@import "main_board_qna_rd.css";
@import "main_board_qna_cu.css";
@import "main_board_qna_complete.css";
@import "main_board_event_dialog.css";

.board_mainContainer {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 100px 70px 1fr 1fr;
	grid-template-areas:	"b_title b_title"
							"b_link b_link"
							"b_menu b_contents"
							"b_info b_contents";
							
	width: 1200px;
	margin: auto;
}

.board_title {
	grid-area: b_title;
	
	display : flex;
	justify-content : center;
	align-items : center;
	
	font-size: 30px;
    font-weight: 700;
    
    border-bottom: 3px solid #ab1e21;
}

.board_link {
	grid-area: b_link;
	
	align-self: center;
}
.board_link > div {
	float: right;
}

.board_sideMenu {
	grid-area: b_menu;
	
}

.board_sideMenu > div {
    margin-bottom: 10px;
}

.board_sideMenu > div > a:hover {
	font-weight: 700;
    color: #ab1e21;
}

.board_home {
	font-size: 24px;
	font-weight: 700;
}

.board_faq, .board_qna, .board_kakao, .board_notice, .board_event {
	font-size: 19px;
	font-weight: 700;
}

.board_qnaAndKakaoLogo {
	width: 20px;
	vertical-align: bottom;
}

.board_imHere {
    color: #ab1e21;
}

.board_sideInfo {
	grid-area: b_info;
	
	/*
	margin-top: 50px 0 50px;
	*/
	margin-top: auto;
	margin-bottom: 50px;
	line-height: 20px;
}

.board_sideInfo_20px {
	font-size: 20px;
}
.board_sideInfo_bold {
	font-weight: 500;
}

.tab {
	white-space: pre;
}

.board_contentsArea {
	grid-area: b_contents;
}