.board_qna_rd_rowAndValue {
	display: grid;
	grid-template-columns: 110px 1fr;
	grid-template-rows: 51px 51px;
	grid-template-areas:	"ro_status ro_statusValue"
							"ro_title ro_titleValue"
							"ro_text ro_textValue"
							"ro_reply ro_replyValue";
							
	width: 950px;
	
	border-top: 1px solid #000;
}

.board_qna_rd_rowAndValue div:nth-child(1) {
	grid-area: ro_status;
}
.board_qna_rd_rowAndValue div:nth-child(2) {
	grid-area: ro_statusValue;
}
.board_qna_rd_rowAndValue div:nth-child(3) {
	grid-area: ro_title;
}
.board_qna_rd_rowAndValue div:nth-child(4) {
	grid-area: ro_titleValue;
}
.board_qna_rd_rowAndValue div:nth-child(5) {
	grid-area: ro_text;
	display: flex;
	justify-content: center;
	align-items: center;
}
.board_qna_rd_rowAndValue div:nth-child(6) {
	grid-area: ro_textValue;
}
.board_qna_rd_rowAndValue div:nth-child(7) {
	grid-area: ro_reply;
}
.board_qna_rd_rowAndValue div:nth-child(8) {
	grid-area: ro_replyValue;
}

.board_qna_rd_rowAndValue div {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 15px;
}
.board_qna_rd_rowAndValue div:nth-child(odd) {
	background-color: #f5f5f5;
	text-align: center;
	font-weight: 400;
}
.board_qna_rd_rowAndValue div:nth-child(even) {
	border-right: 1px solid #ddd;
}



.board_qna_rd_buttons {
	display: flex;
	
	width: 950px;
	height: 51px;
	
	margin-top: 20px;
	margin-bottom: 120px;
	
	justify-content: center;
	gap: 12px;
}