@import "main_board_ask.css";
@import "main_board_ask_readAll.css";
@import "main_board_ask_create.css";

.board_mainContainer {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 103px 1fr 180px;		/*수정필요*/
	grid-template-areas:	"b_link b_title"
							"b_menu b_contents"
							"b_info b_contents";
							
	width: 1200px;								/*수정필요*/
	height: 630px;	/*100vh;*/					/*수정필요*/
	margin: auto;
}

.board_link {
	grid-area: b_link;
	
	padding: 10px;
	
	background-color: #ab1e21;
}

.board_title {
	grid-area: b_title;
	
	display : flex;
	justify-content : center;
	align-items : center;
	
	background-color: #ab1e21;
	
	font-size: 30px;
    font-weight: 700;
    
    color: white;
}

.board_sideMenu {
	grid-area: b_menu;
}

.board_sideMenu > div > a:hover {
	font-weight: 700;
    color: #ab1e21;
}

.board_imHere {
	font-weight: 700;
    color: #ab1e21;
}


.board_sideInfo {
	grid-area: b_info;
}

.tab {
	white-space: pre;
}

.board_contentsArea {
	grid-area: b_contents;
}