.board_faq_column {
	display: grid;
	grid-template-columns: 1fr 150px 150px 150px 150px 150px;
	grid-template-rows: 48px;
	grid-template-areas: "fc_all fc_jb fc_s fc_j fc_bgc fc_g";
	
	background-color: #fafafa;
	
	text-align: center;
	
	font-size: 16px;
	font-weight: 300;
	color: #777;
}
.board_faq_column > div {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 2px solid #ab1e21;
	
	text-align:center;
	
	color: #777;
}
.board_faq_column > div > a {
	display:block;
	width: 100%;
	height: 100%;
	
	padding-top: 13px;
	
	color: #777;
}
.board_faq_column > div:nth-child(1) {
	grid-area: fc_all;
}
.board_faq_column > div:nth-child(2) {
	grid-area: fc_jb;
}
.board_faq_column > div:nth-child(3) {
	grid-area: fc_s;
}
.board_faq_column > div:nth-child(4) {
	grid-area: fc_j;
}
.board_faq_column > div:nth-child(5) {
	grid-area: fc_bgc;
}
.board_faq_column > div:nth-child(6) {
	grid-area: fc_g;
	border-right: 1px solid #ddd;
}
#board_faq_column_selected {
	border-top: 2px solid #ab1e21;
	border-right: 2px solid #ab1e21;
	border-bottom: none;
	border-left: 2px solid #ab1e21;
	
	background-color: white;
}
#board_faq_column_selected > a {
	font-weight: 600;
	color: #ab1e21;
}



.board_faq_search {
	display: flex;
    width: 950px;
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.board_faq_search_iroiro {
	display: flex;
}
.board_faq_search_iroiro select {
	width: 54px;
	height: 34px;
	
	margin-right: 5px;
	
	border: 1px solid #ddd;
}
.board_faq_search_iroiro input {
	width: 160px;
	height: 34px;
	
	border: 1px solid #ddd;
}
.board_faq_search_iroiro button {
	width: 42px;
	height: 34px;
	
	border: none;
	
	background-color: #ab1e21;
	color: white;
}



.board_faq_none {
	width: 950px;
	height: 350px;
	
	background-color: #fff;
	
	text-align: center;
	
	border-top: 1px solid #000;
	border-right:1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.board_faq_none > div {
	padding: 166px;
}



.board_faq_listContainer {
	border-top: 1px solid #000;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.board_faq_list {
	display: grid;
	grid-template-columns: 110px 0 1fr;
	grid-template-rows: 50px;
	grid-template-areas:	"fl_q fl_hiddeninput fl_title"
							"fl_a fl_a fl_a";
	
	background-color: #fff;
}
.board_faq_list > div:nth-child(1) {
	grid-area: fl_q;
	
	padding: 15px;
	
	background-color: #f5f5f5;
	
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	
	text-align: center;
	
	font-weight: normal;
	color: #333;
}
.board_faq_list > input:nth-child(2) {
	grid-area: fl_hiddeninput;
}
input[id*="thisIsFaq"] {
	display: none;
}
input[id*="thisIsFaq"] + label {
	display: block;
}
input[id*="thisIsFaq"] + label + div {
	max-height: 0;
	transition: all .35s;
	overflow: hidden;
}
input[id*="thisIsFaq"]:checked + label > span {
	visibility: hidden;
}
input[id*="thisIsFaq"]:checked + label + div {
	max-height: 100px;
}
.board_faq_list > label:nth-child(3) {
	grid-area: fl_title;
	
	padding: 15px;
	
	border-bottom: 1px solid #ddd;
	
	cursor: pointer;
	
	text-align: left;
}
.board_faq_list > label:nth-child(3):hover {
	text-decoration : underline;
}
.board_faq_list > div:nth-child(4) {
	grid-area: fl_a;
	
	font-size: 20px;
}
#board_faq_list_answer {
	display: grid;
	grid-template-columns: 110px 1fr;
	grid-template-areas: "fl_a fl_txt";
	
	min-height: 50px;
	
	background-color: #f5f5f5;
}
#board_faq_list_answer > div {
	padding: 15px;
}
#board_faq_list_answer > div:nth-child(1) {
	grid-area: fl_a;
	
	border-bottom: 1px solid #ddd;
	
	text-align: center;
	
	font-weight: 600;
	color: #ab1e21;
}
#board_faq_list_answer > div:nth-child(2) {
	grid-area: fl_txt;
	
	border-bottom: 1px solid #ddd;
	
	text-align: left;
	
	color: #777777;
}



.board_faq_buttons {
	display: flex;
	
	width: 950px;
	height: 51px;
	
	margin-top: 20px;
	margin-bottom: 120px;
	
	justify-content: space-between
}
.board_faq_pagingButtons {
	display: flex;
}
.board_faq_pagingButtons > div {
	width: 28px;
	height: 28px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	border-radius: 2px;
}
.board_faq_pagingButtons_selected {
	background-color: #ab1e21;
	color: #fff;
	font-weight: 500;
	padding-bottom: 1px;
}