@charset "UTF-8";
/*cursor: pointer; 
  user-select: none;	
 */
#admin_tire_brand{
	height:70px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	min-width: 300px;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
#admin_brand_menu_title{
	margin-left:50px;
}


#admin_tireBrand_reg{
  margin-right:30px;
  background-color: #5F5F5F;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  margin-left:20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;	
  transition: all 0.3s ease-in-out;
  justify-content:center;
  align-items: center;
  user-select: none;	
}
#admin_tireBrand_reg:hover {
  background-color: #FFFFFF;
  color: #5F5F5F;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}


#admin_tire_brand_content{
   margin-left:10px;
	margin-right:10px;
    border-spacing:0px;
    width: 99%;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 60px;
    margin-top: 5px;
}



.admin_tire_content_title{
    font-size: 15pt;
    padding: 15px;
    background-color: #343a40;
    color: white;
    text-align: center;
	border: 2px solid #343a40;
	user-select: none;	
}

.admin_tire_brand_no{
	width: 10%;
}
.admin_tire_brand_name{
	width: 40%;
}
.admin_tire_print_order{
	width: 13%;
}
.admin_tire_brand_num{
	width: 13%;
}
.admin_tire_brand_Print{
	width:12%;
}

.admin_tire_brand_management{
	width: 12%;
}



#admin_tire_brands_content{
	text-align: center;
	font-size: 15pt;	
	border-bottom: 5px solid black;
	height: 60px;
}

.admin_tire_table_td{
	border: 1px solid black;
	padding-bottom: 3px;
	padding-top: 3px;	
}

#admin-tire-brand-name{
	width: 95%;
	height:40px;
	font-family: GmarketSansMedium;
	font-size: 17pt;
}

#admin-tire-brand-order{
	width:30px;
	font-family: GmarketSansMedium;
	font-size: 15pt;
	text-align: center;
	margin-right: 5px;
}








.admin_tire_brand_deleteBTN{
	margin-left:5px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:5px;
	color: #dc3545;
    background-color: #fff;
    border-color: #dc3545;
    cursor: pointer; 
    user-select: none;	
}

.admin_tire_brand_deleteBTN:hover{
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.admin_tire_printBTN{
	border-radius:7px;
	padding:5px;
	color: #0d6efd;
    background-color: #fff;
    border-color: #0d6efd;
    font-size: 12pt;
    font-weight: 900;
    cursor: pointer; 
    user-select: none;	
}
.admin_tire_printBTN:hover{
	color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

    

.admin_tire_notPrintBTN{
	margin-left:5px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:5px;
	color: #212529;
    background-color: #fff;
    border-color: #212529;
    cursor: pointer; 
    user-select: none;	
}
.admin_tire_notPrintBTN:hover{
	color: #fff;
    background-color: #212529;
    border-color: #212529;
}



/*타이어 브랜드 모달  */

#tireBrandModal{
  top: -20px;	
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  height: 102.5vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}











