@charset "UTF-8";



#tire_container{

}

#admin-tire-reg-whatPage{
	margin-left: 110px;
}



#admin_tire_table_container{
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

#admin_tire_table{
	margin-top:10px;
	width: 1300px;
	border: 1px solid #212529;
	border-spacing:0px;
}

#admin-tire-reg{
	height:70px;
	display: flex;
	align-items:center;
	min-width: 300px;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	
}



.admin_tire_table_title{
	text-align: center;
	background-color: #212529;
	color:white;
	width: 130px;
	min-width: 100px;
} 
.admin-tire-reg-radio-di{
	display: flex;
}


.admin-tire-teg-label {
  display:flex;
  align-items: center;
  border-radius: 100px;
  padding: 8px 8px;
  cursor: pointer;
  transition: .3s;
  cursor: pointer;
  user-select: none;	
}

.admin-tire-teg-label:hover,
.admin-tire-teg-label:focus-within {
  background: #c8e3ff;
}

.admin-tire-teg-input {
  /* position: absolute; */
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.rad-design::before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.admin-tire-teg-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 20%);
  margin-left: 5px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  transition: .3s;
}

.admin-tire-teg-input:checked~.rad-text {
  color: #009ef7;
}


#admin-tire-reg-name-input{
	margin: 5px;
	width: 98%;
	min-height: 40px;
	font-family: GmarketSansMedium;
	font-size: 15pt;
}

#admin-tire-reg-txt-input{
	margin: 5px;
	width: 98%;
	min-height: 40px;
	font-family: GmarketSansMedium;
	font-size: 15pt;
}

#admin_tire_size_button{
	width:79px;
	margin:10px;
	padding:5px 10px;
	cursor: pointer;
	color: #fff;
    background-color: #198754;
    border: none;
    border-radius: 8px;
   
}
#admin_tire_size_button:hover {
	color: #fff;
    background-color: #157347;

}

#admin-tire-size-reg{
	border-spacing:0px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	width: 98.5%;
}

.admin-tire-size-reg-title{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #fff;
	background: #6b6b6b;
	border: 1px solid #6b6b6b;
}

.admin-tire-size{
	width: 16%;
	min-width: 60px;
}
.admin-tire-name{ 
	width: 30%;
	min-width: 130px;
}
.admin-tire-marking{
	width: 15%;
	min-width: 60px;
}
.admin-tire-pricefac{
	width: 15%;
	min-width: 70px;
}

.admin-tire-stock{
	width: 14%;
	min-width: 50px;
}
.admin-tire-delete{
	width: 10%;
	min-width: 50px;
}

.admin-tire-size-reg-content{
	border: 1px solid #6b6b6b;
	text-align: center;
}

.admin_tire_size_reg_modal_open{
	cursor: pointer;
    user-select: none;
}


.admin-tire-reg-size-modal{
	position:fixed;
	display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

.admin-tire-reg-size-modal-container{	
	background-color:white;
	border: 1px solid #6b6b6b;
}

.admin-tire-reg-size-modal-title{
	padding:10px;
	text-align: center;
	border-bottom: 1px solid #6b6b6b;
}
.admin-tire-reg-size-modal-input{
	padding: 10px;
	border-bottom: 1px solid #6b6b6b;
}
.admin-tire-reg-size-modal-input input{
	width: 70px;
	height: 30px;
	text-align: center;
	font-family: GmarketSansMedium;
	font-size: 15pt;
}

.size-span{
	padding: 1px;
	font-size: 15pt;
}



.admin-tire-reg-size-modal-button{
	padding:10px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.admin-tire-reg-size-modal-button1{
	border-radius:7px;
	padding:6px;
	color: #0d6efd;
    background-color: #fff;
    border :1px solid #0d6efd;
    font-size: 12pt;
    font-weight: 900;
    cursor: pointer; 
    user-select: none;
    font-family: GmarketSansMedium;	
}
.admin-tire-reg-size-modal-button1:hover{
	color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.admin-tire-reg-size-modal-button2{
	margin-left:5px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:6px;
	color: #212529;
    background-color: #fff;
    border :1px solid #212529;
    cursor: pointer; 
    user-select: none;
    font-family: GmarketSansMedium;	
}
.admin-tire-reg-size-modal-button2:hover{
	color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.admin-tire-size-reg-delete{
	height:17px;
	width:35px;
	margin-left:30px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:6px;
	color: #fff;
    background-color: #dc3545;
    border :1px solid #dc3545;
    cursor: pointer; 
    user-select: none;	
    font-family: GmarketSansMedium;
}

.admin-tire-size-reg-delete:hover{
    background-color: #a82e3a;
    border-color: #a82e3a;
}


.admin-tire-reg-marking-input{
	width: 50%;
	font-family: GmarketSansMedium;
	font-size: 15pt;
	text-align: center;
}
.admin-tire-reg-pricefac-input{
	width: 70%;
	font-family: GmarketSansMedium;
	font-size: 15pt;
	text-align: center;
}
.admin-tire-reg-stock-input{
	width: 40%;
	font-family: GmarketSansMedium;
	font-size: 15pt;
	text-align: center;
	
}























.admin-tire-img-container{
	display: flex;
	width: 100%;
	margin: 10px;
}
.admin-tire-img-contain{
	width: 49%;	
}
.admin-tire-img-title{
	display:flex;
	justify-content:center;
	align-items:center;
	color: #fff;
	background: #6b6b6b;
	border: 2px solid #6b6b6b;
	min-height: 50px;
}
.admin-tire-img-content{
	border: 2px solid #6b6b6b;
	min-height: 50px;
	display: flex;
    justify-content:center;
    align-items: center;
}
/*파일 업로드 디자인  */
.admin-tire-fileUpload{
	margin:10px;
	font-family: GmarketSansMedium;
}
.filebox1 input[type="file"],.filebox2 input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox1 label,.filebox2 label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

/* named upload */
.filebox1 .upload-name1,.filebox2 .upload-name2 {
  width: 430px;
  display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filebox1.bs3-primary label,.filebox2.bs3-primary label {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.filebox1.bs3-primary label:hover,.filebox2.bs3-primary label:hover {
	background-color: #24527b;
}


#admin_tire_reg_button{
	margin-left:60px;
	width:100%;	
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.admin_tire_reg_deleteBTN{
	margin-left:50px;
	margin-right:5px;
	border-radius:7px;
	font-weight: 900;
	font-size: 12pt;
	padding:6px;
	color: #dc3545;
    background-color: #fff;
    border:1px solid #dc3545;
      cursor: pointer; 
    user-select: none;	
    font-family: GmarketSansMedium;
}

.admin_tire_reg_deleteBTN:hover{
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}











