@charset "UTF-8";

@tire_container{
	position: relative;
}



#tire_searchBox{
	display: flex;
	
}

#tire_content{
	/* margin-top:20px;  */
    width: 100%;
    text-align: center;
    font-size: 20pt;

}

.tire_form{
	height:70px;
	width: 100%;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}


#tire_searchBox{
	padding-top: 20px;
	padding-left: 30px;
}

.tire_searchTitle{
	display: flex;
	justify-content:center;
	align-items:center;
	font-size: 15pt;
	margin-right: 20px;
	padding:6px;
	border-radius:10px;
	background-color: #181C32;
	color:white;
	height: 30px;
}
.tire_searchTitle select{
	height: 29px;
    width:200px;
    font-size: 14pt;
    border-radius:10px; 
    font-family: GmarketSansMedium;
    text-align: center;
    align-items: center;
    valign: middle;
}


.tire_searchID input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}

#searchBtn button{
	display: flex;
    background: #181C32;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 8px 10px;
    font-size: 1em;
    cursor: pointer;
    color: white;
    font-family: GmarketSansMedium;
}
