#product_wrap{
	width: 1200px;
	margin: auto;
	padding-bottom: 100px;
}

#product_wrap_top{
	display: flex;
	border-bottom: solid 2px #AB1E21;
}

#product_search{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

#product_search button{
    margin: 0px 10px;
    border-radius: 15px;
    width: 80px;
    height: 25px;
    border: solid 1px black;
}

#product_top_img{
	height: 250px;	
}

#product_top_img img{
	height: 100%;
}

#product_wrap_subtitle{
	text-align:center;
	padding: 50px 0px;
	line-height: 300%;
}

#product_wrap_subtitle h1 span:first-child{
	color:#AB1E21;
}
#product_wrap_subtitle h1 span{
	font-size: 45pt;
	font-weight: 600;
	margin: 10px;
}
#product_wrap_subtitle h1 span:nth-child(2){
	color:black;
}
#product_wrap_subtitle h2, #product_wrap_subtitle h2 span, #product_wrap_subtitle h2 span span{
    font-size: 30pt;
    text-decoration: underline;
    text-decoration-color: #E6CD32;
}
#product_wrap_subtitle h2{
	 font-weight: 300;
}
#product_wrap_subtitle h2 span{
    font-weight: 600;
    font-style: italic;
}
#product_wrap_subtitle h2 span span{
	color: #AB1E21;
}
#product_wrap_subtitle h3{
	font-size: 20pt;
    font-weight: 300;
}
#product_container{
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10px;
	row-gap: 10px;
	padding-bottom: 50px;
	border-bottom: 1px solid #AB1E21;
}

.product_item{
	height: 500px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position:relative;
}
.product_item_hidden{
	display: none;
	position: absolute;
	top: -5px;
	width: 103%;
	height: 102%;
	background-color: rgba(0,0,0,0.1);
}

.product_item:hover .product_item_hidden {
	display: block;
}
.product_item:hover .product_item_img{
	border: 1px solid #AB1E21;
}
.product_item:hover .product_item_title p{
	text-decoration: underline;
}
.product_item:hover .product_item_detail{
	background-color: #AB1E21;
	color: white;
}

.product_item_img img{
	width: 100%;
}
.product_item_title{
    text-align: center;
}

.product_item_title p:first-child{
	font-size: 15pt;
}

.product_item_title p:nth-child(2){
	font-size: 20pt;
	width:300px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.product_item_detail{
    width: 300px;
    display: flex;
    font-size: 20pt;
    align-items: center;
    justify-content: center;
}
.product_item_detail i{
	font-size:30pt;
	margin: 10px;
}
.product_item_detail:hover{
	background-color: #AB1E21;
	color: white;
}

.product_item_text{
	text-overflow: ellipsis;
	color: mediumblue;
	font-size: 13pt;
	text-align: center;
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
}

.product_item_size{
	font-size:10pt;
}
.product_item_price{
    font-size: 18pt;
    font-weight: 500;
}

#product_wrap_paging{
	margin-top: 50px;
	text-align: center;
	font-size: 20pt;
	display: flex;
	justify-content: center;
	align-items: center;
}

#product_paging_num{
	width: 250px;
	display: flex;
	justify-content: space-evenly;
}
#product_paging_num a:hover{
	text-decoration: underline;
}
.product_paging_prevNext{
	margin: 10px;
}

.present_page{
	text-decoration: underline;
	color: #AB1E21;
	font-weight: 500;
}

.product_paging_firstLast{
	width: 60px;
}
.product_paging_firstLast a:hover{
	text-decoration: underline;
}