.cart_container {
  display: grid;
  grid-template-columns: 1200px;
  justify-content: center;
}

.cart_titles {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 50px 0;
}

.cart_title_left {
  font-size: 35px;
  font-weight: 400;
}

.cart_title_right {
  display: flex;
  gap: 10px;
}

.cart_title_point {
  color: var(--red);
  font-weight: 500;
}

.cart_content {
  display: grid;
  grid-template-columns: 780px 400px;
  gap: 20px;
}

.cart_product {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 10px;
  border: 1px solid #ddd;
}

.cart_product_delete {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: white;
  color: var(--red);
  font-size: 30px;
}

.cart_product_left,
.cart_product_right {
  display: flex;
  align-items: center;
}

.cart_product_left {
  gap: 10px;
}

.cart_product_right {
  gap: 50px;
}

.cart_product_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart_product_brand {
  font-size: 20px;
  color: #666;
}

.cart_product_name {
  font-size: 24px;
  font-weight: 400;
}

.cart_size_box {
  display: flex;
  gap: 10px;
  color: #666;
}

.cart_product_quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cart_quantity_box {
  display: flex;
  gap: 10px;
}

.cart_quantity_box button {
  border: 1px solid #aaa;
  background-color: white;
  cursor: pointer;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 18px;
}

.cart_quantity_input {
  font-size: 18px;
  width: 30px;
  height: 25px;
  text-align: center;
}

.cart_product_price {
  font-size: 24px;
  font-weight: 500;
}

.cart_nav {
  border: 1px solid #ddd;
  padding: 20px;
}

.cart_nav_title {
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
}

.cart_nav_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
