@charset "UTF-8";

select {
width: 200px; 
padding: .8em .5em; 
border: 1px solid #999;
display: flex;
margin-right:5px;
}

.car-findselect{
	
	display: flex;
	margin-left:5px;
	margin-top:65px;
	  align-items: center;
position:relative;

}

.car-findarea{
	
	
	float:left;
	
}

.b_img_css{
	
	width:150px;
}





.carsearchButton {
  background-color: #5F5F5F;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left:20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
}

.carsearchButton:hover {
  background-color: #FFFFFF;
  color: #5F5F5F;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}




.car-text1{
	float:left;
	display: flex;
	padding-top:6.5px;
	padding-bottom:7px;
	border: solid 2.5px;
	border-radius: 10px 0 0 10px;
	 padding-left: 2px;
	 padding-right: 2px;
	 background-color: #C0C0C0;
	position:relative;
}


.car-text2{
float:left;
	display: flex;
	padding-top:7px;
	padding-bottom:10px;
	border: solid 2.5px;
	border-radius: 10px 0 0 10px;
	margin-left:20px;
	top:0px;
	 padding-left: 2px;
	 padding-right: 2px;
	 background-color: #C0C0C0;
	position:relative;
}

.b_area2{
	margin-right:5px;
	
}

.car-findareabutton{
	
 background-color: #5F5F5F;
  color: #FFFFFF;
  border: none;
 padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
	
}

.car-findareabutton:hover {
  background-color: #FFFFFF;
  color: #5F5F5F;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}


.carRegButton{
	
	  width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	
	 background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
	
}

.carRegButton:hover{
	
	   background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	
}


  



.carRegButton1{
	 margin-left: auto;
	  
        position:relative;
	
}




.cardata_div{
	
	width: 100%; 
	  display: inline-block;
	  text-align: center;
	  margin-left:auto;
	  margin-right:auto;
	   line-height : 50px;
	   background-color: black;
	   color:white;
}

.cardata_div .cardata_div1{
	height : 50px;
	width: 8%;
}

.cardata_div .cardata_div2{
	height : 50px;
	width: 8%;
}

.cardata_div .cardata_div3{
	height : 50px;
	width: 8%;
}

.cardata_div .cardata_div4{
	height : 50px;
	width: 8%;
}

.cardata_div .cardata_div5{
	height : 50px;
	width: 8%;

}

.cardata_div .cardata_div6{
	height : 50px;
	width: 50%;

}

.cardata_div .cardata_div7{
	height : 50px;
	width: 10%;
	position: absolute;
	left:90.5%;
}

.cardatalist_div{
	width: 100%; 
	  display: inline-block;
	  text-align: center;
	  margin-left:auto;
	  margin-right:auto;
	   line-height : 50px;
	
}

.cardatalist_div1{

	width: 8%;
	 border: 1px solid #000;
}

.cardatalist_div2{
	 border: 1px solid #000;
	width: 8%;
}

.cardatalist_div3{
	 border: 1px solid #000;

	width: 8%;
	
}

.cardatalist_div4{
	 border: 1px solid #000;
	
	width: 8%;
	
}

.cardatalist_div5{
	 border: 1px solid #000;

	width: 8%;
}

.cardatalist_div6{
	 border: 1px solid #000;

	width: 50%;
}

.cardatalist_div7{
	width: 10%;
	position: absolute;
	left:90.5%;
}


.ftbttmstyle{
	
	display: flex;
}


.ftstyle{
	
	width: 20%;
	
	 background-color: black;
	color:white;
	text-align: center;
}

.btstyle{
	
	
	width: 20%;
	
	 background-color: black;
	 color:white;
	 text-align: center;
}


.tmstyle{
	
	width: 10%;
	
	 background-color: black;
	 color:white;
	 text-align: center;

}



.ftinputstyle{
	text-align: center;
	border: 1px solid gray;
}


.btinputstyle{
	text-align: center;
	border: 1px solid gray;
}

.tminputstyle{
	border: 1px solid gray;
	text-align: center;
}











.custom-btn {
  
}

.car-paging-box{
	
	
	text-align: center;
	
	
}

.regbuttonarea{
	
	border: 1px solid #000;
	background-color: #fff;
}




 #carregpopup01{
    display: none;
}
#carregpopup01{
width: 1600px;
height: 1200px;
position: absolute;
top: 50%;
left: 45%;
margin: -250px 0 0 -250px;
background-color: #fff;
z-index: 2;
    }
.backon{
    content: "";
    width: 100%;
    height: 100%;
    background: #00000054;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.close{
  position:absolute;
  top:-25px;
  right: 0;
  cursor:pointer;
}

.openPopup{

  cursor:pointer;

}

#updatecarpopup01{
    display: none;
}
#updatecarpopup01{
width: 800px;
height: 400px;
position: absolute;
top: 50%;
left: 50%;
margin: -250px 0 0 -250px;
background-color: #fff;
z-index: 2;
    }
.backon{
    content: "";
    width: 100%;
    height: 100%;
    background: #00000054;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.close{
  position:absolute;
  top:-25px;
  right: 0;
  cursor:pointer;
}



#sido1{

	float:left;
	
}

#gugun1{
	
	
	float:left;
	
}

#inputid{
	
	
	width:100px;
	
}

#inputname{
	

	width:200px;
}

#inputaddr{
	
	
	width:400px;
	
}

#b_addr_i{
	
	width:400px;
	
}


#b_time_i{

width:400px;

}


#b_service_i{
	
	
width:400px;
	
}


#inputmapdata{
	
	width:300px;
	
}

#inputregtime{
	
	
	width:300px;
}


#service{
	
width:300px;	
	
}


.regokbutton{
	
	text-align: center;

}

.regokbutton1{
	
	display :inline-block;
	 padding-left: 40px;
	 padding-right: 40px;
	 padding-top:15px;
	  padding-bottom: 15px;
color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 100% 100%;

    border-radius: 5px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	
	 background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}




.regokbutton1.hover{
	
	
background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.updateokbutton{
	
	
	
	text-align: center;
	
	
	
}


.updateokbutton1{
	
	
	display :inline-block;
	 padding-left: 40px;
	 padding-right: 40px;
	 padding-top:15px;
	  padding-bottom: 15px;
color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 100% 100%;

    border-radius: 5px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	
	 background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
   
    
}



.updateokbutton1.hover{
	
	
	display :inline-block;
 
background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
   
    
}





table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: left;
}
  
thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}
  
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
  
 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

a {
  color: #73685d;
}
  
 @media all and (max-width: 768px) {
    
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    text-align: right;
  }
  
  table {
    position: relative; 
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  thead {
    float: left;
    white-space: nowrap;
  }
  
  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  tr {
    display: inline-block;
    vertical-align: top;
  }
  
  th {
    border-bottom: 1px solid #a39485;
  }
  
  td {
    border-bottom: 1px solid #e5e5e5;
  }
  
  
  }
  
 .carinfoarea1{

 }
 
  .carinfoarea2{
   
 }
 
  .carinfoarea3{
 
 }
 
  .carinfoarea4{

 }


.carnamestyle1{
	
		float:left;
	display: flex;
	padding-top:6.5px;
	padding-bottom:7px;
	border: solid 2.5px;
	border-radius: 10px 0 0 10px;
	 padding-left: 2px;
	 padding-right: 2px;
	 background-color: #C0C0C0;
	position:relative;
	margin-bottom: 20px;
	
}


.carnamestyle2{
	
		float:left;
	display: flex;
	padding-top:6.5px;
	padding-bottom:7px;
	border: solid 2.5px;
	border-radius: 10px 0 0 10px;
	 padding-left: 2px;
	 padding-right: 2px;
	 background-color: #C0C0C0;
	position:relative;
	margin-left:20px;
	margin-bottom: 20px;
	
}

.carnamestyle3{
	
		float:left;
	display: flex;
	padding-top:6.5px;
	padding-bottom:7px;
	border: solid 2.5px;
	border-radius: 10px 0 0 10px;
	 padding-left: 2px;
	 padding-right: 2px;
	 background-color: #C0C0C0;
	position:relative;
	margin-bottom: 10px;
	
}

.carnamestyle4{
	
		float:left;
	display: flex;
	padding-top:6.5px;
	padding-bottom:7px;
	border: solid 2.5px;
	border-radius: 10px 0 0 10px;
	 padding-left: 2px;
	 padding-right: 2px;
	 background-color: #C0C0C0;
	position:relative;
	margin-left:20px;
	margin-bottom: 10px;
	
}


.carinfoareasangdanframe{
	
	 text-align: center;
	 
}





#updatepopup01{
    display: none;
}
#updatepopup01{
width: 500px;
height: 500px;
position: absolute;
top: 50%;
left: 50%;
margin: -250px 0 0 -250px;
background-color: #fff;
z-index: 2;
    }
.backon{
    content: "";
    width: 100%;
    height: 100%;
    background: #00000054;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.close{
  position:absolute;
  top:-25px;
  right: 0;
  cursor:pointer;
}

.openPopup{

  cursor:pointer;

}




#popup01{
    display: none;
}
#popup01{
width: 800px;
height: 600px;
position: absolute;
top: 50%;
left: 40%;
margin: -250px 0 0 -250px;
background-color: #fff;
z-index: 2;
    }
.backon{
    content: "";
    width: 100%;
    height: 100%;
    background: #00000054;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.close{
  position:absolute;
  top:-25px;
  right: 0;
  cursor:pointer;
  -webkit-text-stroke: 1px white;
}

.openPopup{

  cursor:pointer;

}






