@charset "UTF-8";

#auth_searchBox{
	display: flex;
	
}

#auth_content{
	/* margin-top:20px;  */
    width: 100%;

}

.auth_form{
	height:70px;
	width: 100%;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}


#auth_searchBox{
	padding-top: 20px;
	padding-left: 30px;
}

.auth_searchTitle{
	display: flex;
	justify-content:center;
	align-items:center;
	font-size: 15pt;
	margin-right: 20px;
	padding:6px;
	border-radius:10px;
	background-color: #181C32;
	color:white;
	height: 30px;
}
.auth_searchTitle select{
	height: 29px;
    width: 90px;
    font-size: 14pt;
    border-radius:10px; 
    font-family: GmarketSansMedium;
    text-align: center;
    align-items: center;
    valign: middle;
}


.auth_searchID input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}

.auth_searchName input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}
.auth_search_name input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}

.auth_search_carnum input{
	height: 25px;
	font-size: 11pt;
	border-radius:10px; 
	font-family: GmarketSansMedium;
}


#searchBtn button{
	display: flex;
    background: #181C32;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 8px 10px;
    font-size: 1em;
    cursor: pointer;
    color: white;
    position: relative;
    font-family: GmarketSansMedium;
}


.auth_content_title{
    font-size: 15pt;
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
	border: 1px solid white;
}
.auth_no{
	width: 5%;
}
.auth_sortation{
	width: 8%;
}
.auth_id{
	width: 17%;
}
.auth_name{
	width: 10%;
}
.auth_phoneNum{
	width:15%;
}
.auth_carNum{
	width:20%;
}
.auth_date{
	width:10%;
}
.auth_management{
	width: 15%;
}


#manyAuth_content{
	text-align: center;
	font-size: 15pt;	
	border: 1px;
}



.manyAuth_btn button {
	margin-left: 20px;	
}
