@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none
}

a:visited {
	color: white;
}

.DashBoard {
	width: 100%;
}

.notice_form {
	width: 100%;
	/*
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  */
}

.notice_form>div {
	width: 100%;
	height: 50px;
	display: flex;
}

.nb_content {
	width: 100%;
	height: 100%;
}

.notice_content {
	width: 100%;
	min-width: 1000px;
	font-size: 11pt;
}

.input_box>div {
	width: 70px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
}

.input_box1>div {
	width: 90px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
}

.input_box2>div {
	width: 70px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
}

.input_box>input {
	width: 300px;
	height: 30px;
	font-size: 15pt;
	margin-left: 10px;
}

.input_box1>input {
	width: 150px;
	height: 30px;
	font-size: 15pt;
	margin-left: 10px;
}

.input_box2>input {
	width: 100px;
	height: 30px;
	font-size: 15pt;
	margin-left: 10px;
}

.input_box>input:focus {
	outline: none;
}

.input_box1>input:focus {
	outline: none;
}

.input_box2>input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

.input_box {
	display: flex;
	align-items: center;
	margin-left: 20px;
	width: 900px;
	margin-top: 10px;
}

.input_box1 {
	display: flex;
	align-items: center;
	margin-left: 20px;
	margin-top: 10px;
}

.input_box2 {
	display: flex;
	align-items: center;
	margin-left: 20px;
	margin-top: 10px;
}

.button_box {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	margin-top: 10px;
}

.noticeBtn {
	border-radius: 4px;
	width: 70px;
	height: 40px;
	background-color: rgb(50, 60, 70);
	color: white;
	font-weight: bold;
	font-size: 15px;
	border: none;
}

.notice_content td {
	padding: 10px;
	text-align: center;
}

.th_head {
	font-size: 12pt;
	padding: 10px;
	background-color: black;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.event-tr {
	height: 200px;
}

.td_c1 {
	width: 5%;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.td_c2 {
	width: 15%;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.td_c3 {
	width: 20%;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.td_c4 {
	width: 25%;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.on-off {
	width: 79px;
	margin: 10px;
	padding: 5px 10px;
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 8px;
}

.td_c3 img {
	max-width: 150px;
	max-height: 170px;
}

.event-status {
	width: 79px;
	margin: 10px;
	padding: 5px 10px;
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 8px;
}

.tdBtn>button {
	width: 80px;
	height: 30px;
	border: 1px solid black;
}

#updBtn {
	color: white;
	background-color: black;
}

#delBtn {
	color: black;
}

.notice_modalcontent {
	width: 70%;
	position: relative;
	top: 39px;
}

#paging-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

#paging-box a {
	padding: 7px 7px;
	margin: 5px;
	background-color: #E4EAEC;
	border-radius: 3px;
}

.no-drag {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 3px;
}

#event-reg-btn {
	position: absolute;
	right: 5px;
	width: 100px;
	height: 40px;
	font-size: 13pt;
	font-weight: bold;
	background-color: #333333;
	color: white;
	border: 2px solid black;
	border-radius: 3px;
	margin: 5px;
	cursor: pointer;
}

#event-reg-btn:hover{
	background-color: white;
	color: black;	
}