@charset "UTF-8";

.modal_table {
	background-color: white;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.left_td {
	background-color: #333333;
	color: white;
}

#event-modal {
	position: absolute;
	width: -webkit-fill-available;
	/*
    height: 100vh;
      */
}

.modal_table td {
	text-align: center;
	border: 1px solid black;
	height: 45px;
}

.notice_header {
	display: flex;
	background-color: #CCCCCC;
	align-items: center;
	justify-content: center;
	height: 70px;
	font-size: 15pt;
	font-weight: 600;
}

.modalBtn {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
	height: 70px;
}

.modalBtn1 {
	color: white;
	background-color: black;
}

.modalBtn2 {
	color: black;
}

#e_content {
	width: 90%;
	height: 170px;
	margin-top: 10px;
	margin-bottom: 10px;
	resize: none;
	font-size: 1rem;
}

#txtInput_Reply {
	width: 90%;
	height: 170px;
	margin-top: 10px;
	margin-bottom: 10px;
	resize: none;
	font-size: 1.5rem;
}

#titleInput_M {
	height: 30px;
	width: 80%;
}

#titleInput_M:focus {
	outline: none;
}

.modal-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
}

.modalBtn1 {
	width: 90px;
	height: 35px;
	margin: 5px;
	font-size: large;
}

.modalBtn2 {
	width: 90px;
	height: 35px;
	margin: 10px;
	font-size: large;
	background-color: white;
}

.modalInput {
	height: 30px;
	width: 90%;
}

.event-wrap {
	margin-top: 150px;
	width: 100%;
	justify-content: center;
}

.event-item {
	margin-top: 20px;
	width: 60%;
	border-top: 2px solid green;
	display: inline-block;
}

.event-row {
	display: flex;
	border-bottom: 2px solid black;
	padding: 25px;
	justify-content: space-between;
}

.event-col2 img {
	width: 100px;
}

#event-reg-btn-box{
	min-width: 1300px;
	height: 45px;
	display: flex;
    align-items: center;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}