@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none
}

a:visited {
	color: white;
}
.DashBoard {
	width: 100%;
}

.notice_form {
	width: 100%;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.notice_form>div {
	width: 100%;
	display: flex;
}

.nb_content {
	width: 100%;
	height: 100%;
}

.notice_content {
	width: 100%;
	min-width: 1200px;
	padding-top: 10px;
}

.notice {
	margin-left: 20px;
}

.notice1 {
	width: 100%;
	height: 100px;
	background-color: #F0FFFF;
	align-items: center;
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 15pt;
	position: relative;
}

.select_box {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.select_box>div {
	margin-left: 30px;
	width: 70px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
}

.select_box>select:focus {
	outline: none;
}

.input_box>div {
	width: 70px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
}

.input_box>input {
	width: 300px;
    height: 30px;
    font-size: 15pt;
    margin-left: 10px;
}

.input_box>input:focus {
	outline: none;
}
textarea:focus{
	outline: none;
}
.notice_select {
	width: 200px;
    font-size: 20px;
    margin-left: 10px;
}

.input_box {
	display: flex;
	align-items: center;
	margin-left: 20px;
	width: 700px;
	margin-top: 10px;
}

.button_box {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	margin-top: 10px;
}

.noticeBtn{
	border-radius: 4px;
	width: 70px;
	height: 40px;
	background-color: rgb(50, 60, 70);
	color: white;
	font-weight: bold;
	font-size: 15px;
	border: none;
}

.color-2{
	background-color: #3c8dbc;
}

.notice_content td {
	padding: 20px;
	text-align: center;
}

.th_head {
	font-size: 15pt;
	padding: 20px;
	background-color: black;
    color: white;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.td_c1 {
	width: 10%;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.td_c2 {
	width: 10%;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.td_c3 {
	width: 50%;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.td_c4 {
	width: 17%;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.td_c5 {
	width: 13%;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.tdBtn>button {
	width: 80px;
	height: 30px;
	border: 1px solid black;
}

#updBtn{
	color: white;
	background-color: black;
}

#delBtn{
	color: black;
}


#notice_modal {
	position: absolute;
    width: -webkit-fill-available;
    height: 100vh;
}

.notice_modalcontent {
	width: 70%;
}

#paging-box{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
}

#paging-box a{
	padding: 7px 7px;
    margin: 5px;
    background-color: #E4EAEC;
    border-radius: 3px;
}

.no-drag{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border-radius: 3px;
}