@charset "UTF-8";

.modal_table {
	background-color: white;
	width: 100%;
	height: 100%;
}
.left_td{
	background-color: #708090;
}

.modal_table td {
	text-align: center;
}

.notice_header {
	display: flex;
	background-color: #fffa65;
	align-items: center;
	justify-content: center;
	height: 70px;
	font-size: 15pt;
	font-weight: 600;
}

.modalBtn {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
	height: 70px;
}

.modalBtn1{
	color: white;
	background-color: black;
}
.modalBtn2{
	color: black;
}
#txtInput_M {
	width: 90%;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    font-size: 1.5rem;
}

#titleInput_M {
	height: 30px;
	width: 80%;
}
#titleInput_M:focus {
	outline: none;
}
.modal-wrapper {
	width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 60px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modalBtn1{
	width: 70px;
	height: 35px;
	margin: 5px;
	font-size:large;
}

.modalBtn2{
	width: 70px;
	height: 35px;
	margin: 10px;
	font-size:large;
	background-color: white;
}