a {
  text-decoration: none;
  color: black;
}

.home_container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1200px;
}

.home_title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  font-size: 35px;
  font-weight: 400;
}

.home_title2 {
  border-bottom: none;
}

.home_manual {
  display: flex;
}

.home_manual_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home_manual_title {
  font-size: 24px;
  font-weight: 400;
}

.home_manual_txt {
  font-size: 20px;
  background-color: var(--red);
  color: white;
}

.home_recommend {
  display: flex;
  justify-content: space-between;
}

.home_recommend_menu {
  display: block;
  position: relative;
  width: 580px;
  height: 363px;
  overflow: hidden;
}

.home_shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.home_recommend_img {
  position: absolute;
  transition: all 1s ease-in-out;
}

.home_recommend_txt {
  position: absolute;
  font-size: 24px;
  font-weight: 400;
  color: white;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

.home_board_section {
  display: flex;
  justify-content: space-between;
}

.home_board_title {
  justify-content: space-between;
}

.home_board_title a {
  font-weight: 100;
  font-size: 18px;
}

.home_board_box {
  width: 580px;
}

.home_board_content {
  padding-left: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home_store_section {
  padding-bottom: 0;
}

.home_store {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 300px);
}

.home_store_menu {
  position: relative;
  overflow: hidden;
}

.home_store_img {
  position: absolute;
  transition: all 1s ease-in-out;
  width: 400px;
}

.home_store_txt {
  position: absolute;
  font-size: 24px;
  font-weight: 400;
  color: white;
  left: 20px;
  bottom: 20px;
  z-index: 2;
}
