.searchContainer {
	width: 1200px;
	margin: auto;
}

.searchTopImgWrapper {
	max-width: 1900px;
	height: 378px;
	margin: auto;
	background-image: url("../../../web/main/search/searchTopImg.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.searchTireSizeGuideWrapper {
	max-width: 1900px;
	height: 650px;
	margin: auto;
	background-image: url("../../../web/main/search/searchTireGuideImg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.searchConditionWrapper {
	display: flex;	
}

.conditionSubtitle {
	font-size: 32px;
	font-weight: 700;
	padding: 30px 0 25px 0;
}